<div class="App">
  <header class="App-header">
    <img src="railstutorial.png" class="App-logo" alt="Railsチュートリアル" />
    <p>
      Codespaces <span class="heart">♥️</span> >Railsチュートリアル
    </p>
    <p class="small">
      これでセットアップ完了です！<br>
      😆🎉✨
    </p>
  </header>
</div>
