<div class="App">
  <header class="App-header">
    <img src="railstutorial.png" class="App-logo" alt="Railsチュートリアル" />
    <p>
      GitHub Codespaces <span class="heart">♥️</span> <a href='https://railstutorial.jp'>Railsチュートリアル</a>
    </p>
    <p class="small">
      まずは <code>app/views/hello/index.html.erb</code> ファイルを変更してみよう！
    </p>
  </header>
</div>
